#Das service-skript kann auf dem pi als service hinzugefügt werden, so wird der node.js server automatisch mit dem pi gestartet
#Befehle um den node.js service zu bedienen sind: 
# sudo systemctl restart camcontrol , anstatt restart sind auch commands wie start, stop und status möglich

#.service Datei ist abzulegen unter: /etc/systemd/system
# service aktivieren mit -> sudo systemctl enable camcontrol.service

[Unit]
Description=Camcontrol for Webtrain with node.js

[Service]
ExecStart=/usr/bin/node /home/pi/node_projects/camcontrol/index.js
Restart=always
User=pi
Group=pi
StandardOutput=syslog               # Output to syslog
StandardError=syslog                # Output to syslog
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/node_projects/camcontrol/

[Install]
WantedBy=multi-user.target
